.game {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.thinking {
  opacity: 0;
  text-align: center;
}

.showThinking {
  opacity: 1;
}







@media screen and (max-width: 420px) {
  .game {
    width: 300px;
  }

  .gameTop {
    gap: 24px;
  }
}
