.scoreBoard {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.scoreContainer {
  font-size: 1em;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  padding: 10px 16px;
  gap: 4px;
  flex: 1;
  background-color: var(--btn-color-green);
  color: var(--text-color-dark);
}

.scoreContainer:nth-child(2) {
  background-color: var(--btn-color-gray);
}

.scoreContainer:nth-child(3) {
  background-color: var(--btn-color-gold);
}

.score {
  font-weight: bold;
  font-size: 1.5em;
}
