.modalTitle {
  font-weight: bold;
}

.modalContent {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 2.6em;
}

.winner {
  width: 64px;
  height: 64px;
}

.markX {
  background-image: url(/images/icon-x.svg);
}

.markO {
  background-image: url(/images/icon-o.svg);
}

.gold {
  color: var(--btn-color-gold);
}

.green {
  color: var(--btn-color-green);
}

@media screen and (max-width: 565px) {
  .modalContent {
    font-size: 1.5em;
    gap: 12px;
  }

  .winner {
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
